{% extends 'base.html.twig' %}

{% block title %}Liste des classes{% endblock %}

{% block body %}

<div class="p-4">

    <h1 class="h3 mb-3 fw-bold">Liste des classes</h1>
    <div class="table">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Image</th>
                <th>MDJ</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for classe in classes %}
            <tr>
                <td>{{ classe.id }}</td>
                <td>{{ classe.nom }}</td>
                <td>{{ classe.image }}</td>
                <td>{{ classe.mdj }}</td>
                <td>
                    <a class="btn btn-secondary"  href="{{ path('app_classe_show', {'id': classe.id}) }}">voir</a>
                    <a class="btn btn-secondary"  href="{{ path('app_classe_edit', {'id': classe.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <a class="btn btn-primary"  href="{{ path('app_classe_new') }}">Ajouter une classe</a>
</div>
{% endblock %}
